.container {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    animation: fadeIn 1s ease-in-out; 
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.inputSection {
    flex: 1;
    max-width: 350px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ccc;
}

.inputSection input {
    width: calc(100%);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputSection input:hover{
    border-color: #007bff;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.1);
  }
  
  .inputSection input:focus {
    border-color: #007bff;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
    outline: none;
  }

.addButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 0.5rem;
}

.addButton:hover {
    background-color: #0056b3;
    color: white;
}

.expenseList {
    flex: 1;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ccc;
    margin-top: 20px; 
    margin-left: 50px;
}

.expenseItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.removeButton {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .inputSection,
    .expenseList {
        max-width: 100%;
    }
}
